<div class="vc-example">
  <h3>view-child-example</h3>

  <div>
    <h5>Other components</h5>
    <nts-person-details></nts-person-details>
    <nts-person-details #myTmplVariable></nts-person-details>
    <div>
      <nts-person-details></nts-person-details>
    </div>
  </div>

  <div>
    <h5>Other elements</h5>
    <span #mySpanList>sp1</span>
    <span #mySecondSpan>sp2</span>
    <span #mySpanList>sp3</span>
    <hr />

    <div>
      <h5>Nested elements</h5>
      <span #mySpanList>nested sp4</span>
      <span>nested sp5</span>

      <div>
        <p>
          <span #mySpanList>nested sp6</span>
        </p>
      </div>
    </div>
  </div>

</div>