<h3>e-validations-example form</h3>

<form [formGroup]="myForm"
      (ngSubmit)="submitHandler()"
      class="myForm">

  <div>
    <label>
      Last Name
      <input formControlName="fullName" />
    </label>
    <span class="my-error"
          *ngIf="fullNameCtrl.errors">
      {{ fullNameCtrl.errors | json }}
    </span>
  </div>

  <div>
    <label>
      Title
      <input formControlName="title" />
    </label>
    <span class="my-error"
          *ngIf="titleCtrl.errors">
      {{ titleCtrl.errors | json }}
    </span>
  </div>

  <div>
    <label>
      Date of Birth
      <input formControlName="dateOfBirth" />
    </label>
    <span *ngIf="dobCtrl.errors">{{ dobCtrl.errors | json }}</span>
  </div>

  <div>
    <label>
      National ID
      <input formControlName="nationalId" />
    </label>
    <mat-spinner *ngIf="nationalIdCtrl.pending"
                 [diameter]="25"
                 style="display: inline;"></mat-spinner>
    <span *ngIf="nationalIdCtrl.errors"
          class="my-error">
      {{ nationalIdCtrl.errors | json }}
    </span>

  </div>

  <div>
    <button type="submit">Submit</button>
  </div>

  <div *ngIf="myForm.errors"
       class="my-error">
    <pre>{{ myForm.errors | json }}</pre>
  </div>

</form>

<nts-form-info [formGroup]="myForm"></nts-form-info>
