<div class="car-configurator">
  <h5>CarConfigurator</h5>
  <div class="chosen-config">
    <h3>Current config</h3>
    <h3>Engine: {{ selectedEngine?.value }}</h3>
    <h3>Color: {{ selectedColor?.value }}</h3>
    <h3>Drive Wheel: {{ selectedDriveWheel?.value }}</h3>
  </div>

  <div>
    <nts-option-picker label="Choose engine type"
                       [options]="engines"
                       (optionSelect)="engineChangeHandler($event)"></nts-option-picker>

    <nts-option-picker label="Select color"
                       [options]="colors"
                       (optionSelect)="colorChangeHandler($event)"></nts-option-picker>

    <nts-option-picker label="Your drive wheel?"
                       [options]="driveWheels"
                       (optionSelect)="driveWheelChangeHandler($event)"></nts-option-picker>
  </div>
</div>
