<h3>Forms tasks</h3>

<div>
  <h3>Examples</h3>
  <!-- <nts-a-build-form-example></nts-a-build-form-example> -->
  <!-- <nts-b-collection-in-form-example></nts-b-collection-in-form-example> -->
  <!-- <nts-c-interrelated-ctrls-example></nts-c-interrelated-ctrls-example> -->
  <!-- <nts-d-dynamic-forms-example></nts-d-dynamic-forms-example> -->
  <!-- <nts-e-validations-example></nts-e-validations-example> -->
  <!-- <nts-f-form-values-example></nts-f-form-values-example> -->
</div>

<div>
  <h3>Tasks</h3>
  TODO
</div>

<!--  <nts-my-simple-form></nts-my-simple-form>-->
<nts-my-form-validation-task></nts-my-form-validation-task>
<!-- <nts-pizza-creator-form></nts-pizza-creator-form> -->
<!-- <nts-interralated-validations-form></nts-interralated-validations-form> -->
