<form class="my-form-cont">
  <h3>My simple form</h3>

  <div>
    Email:
    <input type="email"
           required />
  </div>

  <div>
    Password:
    <input type="password"
           required />
  </div>

  <div>
    Primary Address:

    <div>
      City:
      <select>
        <option value=""
                disabled>Choose your city</option>
        <!-- TODO -->
        <option>
          City 1 TODO
        </option>
        <option>
          City 2 TODO
        </option>
        <option>
          City 3 TODO
        </option>
      </select>
    </div>
    <div>
      Street:
      <input type="text" />
    </div>
  </div>

  <div>
    Do you want to receive emails:
    <div>
      <label>
        <input type="radio" />
        Mail Freq 1 TODO
      </label>
    </div>
    <div>
      <label>
        <input type="radio" />
        Mail Freq 2 TODO
      </label>
    </div>
    <div>
      <label>
        <input type="radio" />
        Mail Freq 3 TODO
      </label>
    </div>
  </div>

  <div>
    <label>
      <input type="checkbox"
             required />
      Some Agreement
    </label>
  </div>

  <div>
    <button type="submit">Send</button>
  </div>

  <!-- <nts-form-info [formGroup]="myForm"></nts-form-info> -->
</form>
