<mat-card class="todos-form-container">
  <mat-card-title>Todo Form</mat-card-title>
  <div class="form-container">

    <form (submit)="submitHandler()">
      <mat-form-field>
        <input [(ngModel)]="formValues.title"
               matInput
               placeholder="Title"
               name="title" />
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="formValues.description"
               matInput
               placeholder="Description"
               name="description" />
      </mat-form-field>

      <button mat-raised-button
              color="primary">
        Submit
      </button>
    </form>

  </div>
</mat-card>
