<mat-card class="todos-form-container">
  <mat-card-title>Todo Form</mat-card-title>
  <div class="form-container">

    <form (ngSubmit)="submitHandler()">
      <mat-form-field>

        <input [(ngModel)]="titleTmp"
               matInput
               placeholder="Title"
               name="title" />

      </mat-form-field>

      <mat-form-field>

        <input [(ngModel)]="descriptionTmp"
               matInput
               placeholder="Description"
               name="description" />

      </mat-form-field>

      <button mat-raised-button
              color="primary">
        Submit
      </button>
    </form>

  </div>
</mat-card>
