.personal-data {
  margin: 0 auto;
  width: 900px;
  padding: 12px;
  background-color: #ccc;
  color: #000;
}

.personal-data .lorem-cont {
  background-color: #3388ff;
  border: 2px solid #000;
  padding: 12px;
}
