<form [formGroup]="myForm"
      (ngSubmit)="submitHandler($event)"
      class="myForm">
  <h5>My Form Validation task</h5>

  <div>
    <input placeholder="Your name?"
           type="text" />
  </div>

  <div>
    <input placeholder="Enter your age"
           type="number" />
  </div>

  <hr />

  <div>
    <label>
      <input formControlName="areDetailsEnabled"
             type="checkbox" />
      Enable details
    </label>
  </div>

  <div *ngIf="areDetailsEnabledCtrl.value"
       class="checkboxCont">
    <input formControlName="height"
           type="number"
           placeholder="Your height" />
  </div>

  <hr />

  <div>
    <label>Select Country</label>
    <select>
      <option> country TODO</option>
    </select>
  </div>


  <hr />

  <div>
    <label>Select your interest type</label>
    <select formControlName="selectedInterestType">
      <option value=""
              disabled> </option>
      <option *ngFor="let intType of allInterestTypes"
              [ngValue]="intType.id">
        {{ intType.name }}
      </option>
    </select>

    <h1>TMP: {{ selectedInterestTypeCtrl.value }}</h1>

  </div>

  <div>
    <p>
      <label>Choose your Interests</label>
    </p>

    <label formArrayName="availableInterests"
           *ngFor="let intCtrl of availableInterestsCtrl.controls; let i = index;">

      <input [formControlName]="i"
             type="checkbox" />

      {{ availableInterestLabels[i] }}

    </label>
  </div>


  <hr />

  <div>
    <button type="submit">Submit</button>
  </div>

  <hr />
  <nts-form-info [formGroup]="myForm"></nts-form-info>
</form>
