<h1 mat-dialog-title>Draft Mail</h1>


<div mat-dialog-content
     fxLayout="column"
     fxLayoutAlign="space-around stretch">

  <mat-form-field appearance="outline">
    <mat-label>Send To</mat-label>
    <input matInput
           type="text" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput
           type="text" />
  </mat-form-field>

  <mat-form-field class="example-full-width"
                  appearance="outline">
    <mat-label>Content</mat-label>
    <textarea matInput
              placeholder="Your email"></textarea>
  </mat-form-field>
</div>


<div mat-dialog-actions>
  <button mat-raised-button
          color="primary"
          (click)="sendHandler()"
          cdkFocusInitial>Send</button>
  <button mat-raised-button
          color="cancel"
          (click)="closeHandler()">Close</button>
</div>
