<h3>Content projection</h3>

<nts-content-example></nts-content-example>
<hr />


<!--
 <div>
  <nts-loadable-content-task></nts-loadable-content-task>
</div>
<hr />
 -->


<!--
<div>
  <nts-cards-task></nts-cards-task>
</div>
<hr />
 -->


<!-- ===== temlates, containers, outlets ===== -->

<!--
<nts-tmpl-example></nts-tmpl-example>
<hr />
 -->


<!--
<nts-cont-example></nts-cont-example>
<hr />
 -->


<!--
<nts-tmpl-outlet-example></nts-tmpl-outlet-example>
<hr />
 -->


<!--
<div>
  <nts-my-dashboard-task></nts-my-dashboard-task>
</div>
<hr />
 -->
