<h3>Content projection</h3>

<nts-tmpl-example></nts-tmpl-example>
<hr />

<!--
<nts-cont-example></nts-cont-example>
<hr />
 -->


<!--
<nts-tmpl-outlet-example></nts-tmpl-outlet-example>
<hr />
 -->


<!--
<nts-content-example></nts-content-example>
<hr />
 -->


<!--
<div>
  <nts-my-dashboard-task></nts-my-dashboard-task>
</div>
<hr />
 -->


<!--
<div>
  <nts-my-mouse>
    <ng-template let-myX="x"
                 let-myY="y">
      <h1>The mouse position is ({{myX}}, {{myY}})</h1>
    </ng-template>
  </nts-my-mouse>
</div>
<hr />
 -->


<!--
 <div>
  <nts-loadable-content-task></nts-loadable-content-task>
</div>
<hr />
 -->


<!--
<div>
  <nts-cards-task></nts-cards-task>
</div>
<hr />
 -->


<!--
<div>
  <h5>Simple streamable cont example</h5>

  <div class="my-box">
    <div>
      <button (click)="sendRequestHandler()">
        Send Request
      </button>
      <button (click)="dataReceivedHandler()">
        Data Received
      </button>
      <button (click)="errorOccurredHandler()">
        Error Occurred
      </button>
    </div>

    <nts-simple-streamable-container [dataStream]="myRequest$">
      <div slot="content">
        <p class="my-content">some fancy content</p>
      </div>

      <div slot="loading">
        <p class="my-loading">Data is Loading...</p>
      </div>

      <div slot="error">
        <p class="my-error">Sorry, some error occurred.</p>
      </div>
    </nts-simple-streamable-container>
  </div>

</div>
<hr />
 -->


<!--
<div>
  <h5>Better streamable container example</h5>

  <div class="my-box">
    <nts-better-streamable-container [dataStream]="myRequest$"
                                     [loadingTemplate]="loadingTmpl"
                                     [errorTemplate]="errorTmpl"
                                     [contentTemplate]="contentTmpl">
      <ng-template #contentTmpl
                   let-data="data">
        <div class="my-content">
          Better data is:
          <pre>
            {{ data | json }}
          </pre>
        </div>
      </ng-template>

      <ng-template #loadingTmpl>
        <p class="my-loading">Better Loading...</p>
      </ng-template>

      <ng-template #errorTmpl
                   let-error="error">
        <p class="my-error">Better error occurred: {{ error.message }}</p>
      </ng-template>
    </nts-better-streamable-container>
  </div>

</div>
 -->
