<mat-card class="mat-elevation-z8">
  <form [formGroup]="myForm"
        (ngSubmit)="submitHandler($event)">
    <div fxLayout="column"
         fxLayoutAlign="space-around stretch">
      <h3>User Interests form</h3>

      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input formControlName="fullName"
               matInput
               placeholder="Your name?"
               type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Your Age</mat-label>
        <input formControlName="age"
               matInput
               placeholder="Enter your age"
               type="number" />
      </mat-form-field>

      <!-- optional details start -->
      <mat-checkbox formControlName="areDetailsEnabled">
        Enable details
      </mat-checkbox>

      <mat-card *ngIf="areDetailsEnabledControl.value"
                class="mat-elevation-z8">
        <mat-card-header>Details</mat-card-header>
        <mat-card-content>

          <mat-form-field appearance="outline">
            <mat-label>Your Height</mat-label>
            <input formControlName="height"
                   matInput
                   type="number"
                   placeholder="Your height" />
          </mat-form-field>

        </mat-card-content>
      </mat-card>
      <hr />

      <!-- optional details end -->

      <mat-form-field appearance="outline">
        <mat-label>Select Your Country</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of allCountries"
                      [value]="country.id">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Select your Interest Type</mat-label>
        <mat-select formControlName="selectedInterestType">
          <mat-option *ngFor="let interestType of allInterestTypes"
                      [value]="interestType.id">
            {{ interestType.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-progress-bar *ngIf="isInterestsLoding"
                        mode="indeterminate"></mat-progress-bar>

      <mat-label>Choose Your Interests</mat-label>
      <div formArrayName="availableInterests"
           fxLayout="row"
           fxLayoutAlign="space-around center"
           class="allign-left">

        <mat-checkbox *ngFor="let interest of availableInterestsControls; let i = index"
                      [formControlName]="i">
          {{ availableInterestLabels[i] }}
        </mat-checkbox>
      </div>

      <hr />
      <button mat-raised-button
              color="primary"
              [disabled]="!myForm.valid"
              type="submit">Submit</button>

      <!-- form info -->
      <!-- <nts-form-info [formGroup]="myForm"></nts-form-info> -->
    </div>
  </form>
</mat-card>
