<mat-card class="my-search-container">
  <mat-card-header>
    <mat-card-title>My Search</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-search-content">
    <div>
      <mat-form-field>
        <input [formControl]="searchTextCtrl"
               matInput
               placeholder="Search" />
      </mat-form-field>
    </div>

    <div>
      <h5>Search results</h5>
      <ul>
        <li>result 1 TODO</li>
        <li>result 2 TODO</li>
        <li>result 3 TODO</li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
