<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h3>Data Table Page</h3>

    <h3>Selected: {{selectedHero?.id}}</h3>
    <!-- <nts-data-table [items]="heroes"
                    [selectedItem]="selectedHero"
                    [metaData]="heroesMetaData"
                    (itemClick)="onHeroClick($event)">
    </nts-data-table> -->

    <!-- TODO -->
    <nts-data-table [items]="heroes"
                    [selectedItem]="selectedHero"
                    [metaData]="heroesMetaData"
                    (itemClick)="onHeroClick($event)">
    </nts-data-table>

  </div>
</div>
