<h3>cards-task</h3>

<nts-my-card>
  <div slot="header">
    <h3>Lorem header</h3>
  </div>

  <div slot="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam tortor, porttitor aliquet diam porta,
      venenatis mattis justo. Integer non orci at sapien cursus elementum. Integer laoreet enim id massa ullamcorper
      tempus. Suspendisse potenti. Ut aliquam lectus orci, quis tincidunt dui porttitor id. Donec id molestie massa.
      Curabitur finibus, dolor at imperdiet porttitor, ligula odio faucibus nunc, nec iaculis lectus leo et augue. Duis
      vehicula pulvinar erat sed viverra.</p>
  </div>

  <div slot="footer">Lorem footer</div>
</nts-my-card>

<hr />

<nts-my-card>
  <h1 slot="header">2nd header</h1>

  <div slot="content">
    <q>2nd content</q>
  </div>

  <div slot="footer">
    <small>2nd footer</small>
  </div>
</nts-my-card>
