<h3>my-dashboard-task</h3>

<div>
  <input [formControl]="searchFormCtrl" />


  <hr />

  <div *ngIf="searchResults$ | async as res">


    <nts-flexible-list [items]="res">

      <ng-template let-myItem
                   let-tmIndex="index">
        <div>
          <h1>{{ myItem }}</h1>
          <small> {{ tmIndex }}</small>
        </div>

      </ng-template>

    </nts-flexible-list>


    <hr />
    <nts-flexible-list [items]="res">

      <ng-template let-myResult>
        <p>{{ myResult }}</p>
      </ng-template>


    </nts-flexible-list>
  </div>

  <!-- <div>
    <code>
      {{searchResults$ | async | json}}
    </code>
  </div> -->

</div>
