<mat-card>
  <mat-card-title>03-tmpl-outlet-example</mat-card-title>

  <div>
    <!-- TODO: replace with #myTmpl template -->
    <div style="border: 2px solid #000;">
      initial: imba!
    </div>

    <ng-template #myTmpl>
      <h1>from tmpl: a qq!</h1>
    </ng-template>
  </div>


  <!-- TODO: template with context -->
  <h5>Template with context</h5>
  <div>
    <!-- for myCtx1 -->
    <ng-container *ngTemplateOutlet="myParametrizedTmpl; context: myCtx1"></ng-container>
    <!-- for myCtx2 -->
    <!-- TODO -->
    <ng-container *ngTemplateOutlet="myParametrizedTmpl; context: myCtx2"></ng-container>

    <ng-template #myParametrizedTmpl
                 let-myName="firstName"
                 let-myAge="age">
      <div>
        <h3>Name: {{myName}}</h3>
        <h3>Age: {{myAge}}</h3>
      </div>
    </ng-template>
  </div>

</mat-card>
