<mat-card>
  <mat-card-title>03-tmpl-outlet-example</mat-card-title>

  <!-- TODO: template with context -->
  <h5>Template with context</h5>
  <div>
    <!-- for myCtx1 -->
    <ng-container *ngTemplateOutlet="myParametrizedTmpl; context: myCtx1"></ng-container>


    <!-- for myCtx2 -->
    <!-- TODO -->
    <!-- <ng-container *ngTemplateOutlet="myParametrizedTmpl; context: myCtx2"></ng-container> -->

    <!-- template -->
    <ng-template #myParametrizedTmpl
                 let-tttYyy
                 let-name="firstName"
                 let-myAge="age">
      <div>
        <h1>MAIN VAL: {{ tttYyy }}</h1>
        <h3>Name: {{ name }}</h3>
        <h3>Age: {{ myAge }}</h3>
      </div>
    </ng-template>

  </div>

</mat-card>
