<div class="list">
  <table class="data-table">
    <thead class="list-header">
      <tr>
        <td>
          <a>Komik uniw.</a>
        </td>
        <td>
          <a>Imie</a>
        </td>
      </tr>
    </thead>
    <tbody class="items-container">

      <!-- css class: highlighted -->

      <tr *ngFor="let item of items"
          (click)="rowClickHandler(item)"
          class="list-item"
          [ngClass]="{'highlighted': selectedItem?.id === item.id}">
        <td> {{ item.universe }} </td>
        <td> {{ item.secretIdentity }} </td>
      </tr>

    </tbody>
  </table>
</div>
