<h3>Interralated Validations form</h3>

<form [formGroup]="myForm"
      (ngSubmit)="submitHandler()"
      class="myForm">

  <div>
    <label>
      Last Name
      <input formControlName="fullName" />
    </label>
    <span *ngIf="fullNameCtrl.errors">{{ fullNameCtrl.errors | json }}</span>
  </div>

  <div>
    <label>
      Date of Birth
      <input formControlName="dateOfBirth" />
    </label>
    <span *ngIf="dobCtrl.errors">{{ dobCtrl.errors | json }}</span>
  </div>

  <div>
    <label>
      National ID
      <input formControlName="nationalId" />
    </label>
    <span *ngIf="nationalIdCtrl.errors">{{ nationalIdCtrl.errors | json }}</span>
  </div>

  <div>
    <button mat-mat-raised-button
            type="submit">Submit</button>
  </div>
</form>

<nts-form-info [formGroup]="myForm"></nts-form-info>
